<div class="hero">
  <%= image_tag "footsie_logo.png", class:"logo" %>
  <h3 class="hero-text">PLAY THE BEAUTIFUL GAME. <br>ANYWHERE. <br>ANYTIME.</h3>
  <div class="search-container">
    <input type="text" placeholder="Enter your postcode...">
    <button class="button1" type="submit">Find a Game</button>
  </div>
</div>

<div class="container">
  <div class="row ">
    <div class="col-md-12 mt-2">
      <div class="row">
        <% @games.each do |game| %>
          <div class="box col-md-3">
            <% if game.photo.present? %>
              <%= cl_image_tag game.photo.key, crop: :fill %>
            <% else %>
              <%= image_tag "football_#{%w[green red blue purple orange teal][game.id % 6]}.png" %>
            <% end %>
            <h2><%= game.name %></h2>
            <p class="data">£<%= game.price %> per person</p>
            <p class="texts"><%= game.address %></p>
            <button class="button1"><span><%= link_to "Read more", game_path(game) %></span></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
