<div class="hero-image">
  <div class="hero-text">
    <h1>Footsie</h1>
    <h3>Find your squad for casual football fun!</h3>
    <button class="btn btn-primary">Enter your postcode</button>
  </div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-md-12 mt-2 ">
      <div class="row">
        <% @games.each do |game| %>
          <div class="box col-md-3" style="color: <%= @open_games.include?(game) ? 'green' : 'red' %>;">
            <% if game.photo.present? %>
              <%= cl_image_tag game.photo.key, crop: :fill %>
            <% else %>
              <%= cl_image_tag "football_#{%w[green red blue purple orange teal][game.id % 6]}.png" %>
              <%# <img class="img" src="https://images.unsplash.com/photo-1575361204480-aadea25e6e68?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="IMG"> %>
            <% end %>
            <h2><%= game.name %></h2>
            <p class="data">£<%= game.price %> per person</p>
            <p class="texts"><%= game.address %></p>
            <button class="custom-btn btn text"><span><%= link_to "Read more", game_path(game) %></span></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
