<div class="container">
  <div class="d-flex justify-content-center p-2">
    <h1>Host a Game</h1>
  </div>
  <%= simple_form_for @game do |f| %>
    <%= f.input :name, placeholder: 'Name your game...', label:false %>
    <%= f.input :address, placeholder: 'Where is your game...', label:false %>
    <%= f.input :description, placeholder: 'Provide any additional details...' %>
    <%= f.input :red_team_name, placeholder: 'What is team A called...', label:false %>
    <%= f.input :blue_team_name, placeholder: 'What is team B called...', label:false %>
    <%= f.input :price, placeholder: 'What is the price per person...', input_html: { min: '0', step: '0.25' } %>
    <%= f.input :pitch_identifier, placeholder: 'What is the pitch number...' %>
    <%= f.input :pitch_type, collection: ["grass", "3-G", "astroturf"] %>
    <%= f.input :team_size, :collection => 5..11, :prompt => "Select the size of each team..." %>
    <%= f.input :gender, collection: ["male", "female", "co-ed"] %>
    <%= f.input :indoor %>
    <%= f.input :photo, as: :file, label: "Upload an image (optional)...", class: 'button1' %>
    <%= f.submit 'Host a Game', class: 'button1' %>
  <% end %>
  </div>
</div>
