<div class="container">
  <div class="d-flex p-2">
    <h1>Todo.... Footsie Form</h1>
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price, input_html: { min: '0', step: '0.25' } %>
      <%= f.input :pitch_identifier %>
      <%= f.input :pitch_type, collection: ["grass", "3-G", "astroturf"] %>
      <%= f.input :starting_date %>
      <%= f.input :ending_date %>
      <%= f.input :recurring_rule %>
      <%= f.input :team_size, :collection => 5..11, :prompt => "Select the size of each team" %>
      <%= f.input :gender, collection: ["male", "female", "co-ed"] %>
      <%= f.input :indoor %>
      <%= f.input :photo, as: :file, label: "Upload an image (optional)" %>
      <%# <div class="mb-3 currency optional game_price">
      <label class="form-label currency optional" for="game_price">Price</label>£
      <input class="form-control currency optional" type="text" name="game[price]" id="game_price">
      </div> %>
      <%= f.submit 'Host this game', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
