<div class="container">
  <div class="d-flex p-2">
    <div class="box">
      <% if @game.photo.present? %>
        <%= cl_image_tag @game.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag "football_#{%w[green red blue purple orange teal][@game.id % 6]}.png" %>
      <% end %>
    </div>
    <div class="row m-5">
      <h1><%= @game.name %></h1>
      <div class="col-7 cards">
        <div class="card1">
          <h3>Location</h3>
          <p>Pitch ID: <%= @game.pitch_identifier %></p>
          <p>Pitch type: <%= @game.pitch_type %></p>
          <p>Pitch address: <%= @game.address %></p>
        </div>
        <div class="card">
          <h3>Description</h3>
          <p><%= @game.description %></p>
          <p>Price per person: £<%=@game.price %></p>
          <p>Gender: <%= @game.gender %></p>
          <p>Match time & date: <%= @game.starting_date %></p>
          <p>Maximum players: <%= 2 * @game.team_size %></p>
        </div>
      </div>
      <div class="col-5 cards">
        <div class="card1">
          <p><strong>STATUS: <%= @status %></strong></p>

          <% if @status == "owner" %>
            <%=
              link_to "This is your game. Would you like to delete it?",
              game_path(@game),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          <% elsif @status == "member" %>
            <%=
              link_to "Leave this game?",
              player_game_path(@player_game),
              data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to leave the game #{@game.name}?"}
            %>
          <% elsif @status == "full" %>
            <p>This game is currently full.</p>
          <% elsif @status == "wrong_gender" %>
            <p>Sorry, this game is for <%= @game.gender %>s only.</p>
          <% else %>
            <button class="custom-btn btn text"><span><%=
              link_to "Join this game",
              game_player_games_path(@game),
              data: {turbo_method: :post}
            %></span></button>
          <% end %>
        </div>
        <div class="card">
          <h3>Players</h3>
          <h4>This game currently has <%= @players.count + 1 %> player<%= "s" if @players.count > 0 %>:</h4>
          <ul>
            <li><%= @game.player.name %></li>
            <% @players.each do |player| %>
              <li><%= player.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row m-5">
      <h3>Reviews</h3>
      <% if @game.reviews.empty? %>
        <small><em>Be the first one to review this list</em></small>
      <% end %>
      <ul>
        <li>
          <% @game.reviews.each do |review| %>
            <% review.rating.to_i.times do %>
              <%= "⭐️" %>
            <% end %>
            <%= review.comment %>
          <% end %>
        </li>
      </ul>
      <% if @status == "owner" %>
        <p><%= "You cannot write the review on your game" %></p>
      <% else %>
        <%= render "new-review"%>
      <% end %>
    </div>
  </div>
</div>
