<div class="image photos-cover">
  <div class="photos">
    <div class="thumbnails">
       <% if @game.photo.present? %>
        <%= cl_image_tag @game.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag "football_#{%w[green red blue purple orange teal][@game.id % 6]}.png" %>
      <% end %>
      <div class="black"></div>
      <div class="title"><%= @game.name %></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row p-30 mb-3">
    <div class="col-7 left_card mt-5">
      <div class="decription-card text-container">
        <h3><b>Description</b></h3>
        <p><%= @game.description %></p>
        <p><b>Price per person:</b> £<%= '%.2f' % @game.price %></p>
        <p><b>Gender:</b> <%= @game.gender %></p>
        <p><b>This game currently has </b> <%= @players.count %> / <%= 2 * @game.team_size %> players</p>
        <p><b>Pitch ID:</b> <%= @game.pitch_identifier %></p>
        <p><b>Pitch type:</b> <%= @game.pitch_type %></p>
        <p><b>Pitch address:</b> <%= @game.address %></p>
      </div>
    </div>
    <div class="col-5 mt-5">
      <div class="decription-card ">
        <h3><b>Hosted by:</b> </h3>
        <p><i class="fa-solid fa-user"></i> <%= @game.player.name %></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row p-30 mb-3">
      <div class="col-6 ">
        <div class="custom-card">
          <div class="card-header">
            <h3><i class="fas fa-users">&nbsp;</i><%="TEAM #{@game.teams[0].name}"%></h3>
            <div class="card-btnsection">
              <% if @status == "owner" %>
               <button class="custom-btn btn text"><span><%=
                link_to "Delete?",
                game_path(@game),
               data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %></span></button>
            <% elsif @status == "member" %>
            <button class="custom-btn btn text"><span><%=
                link_to "Leave game?",
                 player_team_path(@player_team),
               data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to leave the game #{@game.name}?"}
              %></span></button>
            <% elsif @status == "full" %>
              <p>This game is currently full.</p>
            <% elsif @status == "wrong_gender" %>
              <p>Sorry, this game is for <%= @game.gender %>s only.</p>
            <% else %>
              <button class="custom-btn btn text"><span><%=
                link_to "Join #{@game.teams[0].name}",
                join_team_path(@game.teams[0]),
                data: {turbo_method: :post}
              %></span></button>
            <% end %>
            </div>
          </div>
          <div class="row team-row">
            <% @game.teams[0].players.each do |player| %>
              <div class="col-md-6 team-card">
                <div class="person-img">
                  <% if player.photo.present? %>
                    <%= cl_image_tag player.photo.key, crop: :fill %>
                  <% else %>
                    <%num = rand(10..99)%>
                    <img class="rounded-lg w-20 h-20" alt="No alt" src="https://ozgrozer.github.io/100k-faces/0/4/0040<%=num%>.jpg">
                  <% end %>
                  <h4><%=player.name%></h4>
                </div>
               </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="custom-card">
         <div class="card-header">
            <h3><i class="fas fa-users">&nbsp;</i><%="TEAM #{@game.teams[1].name}"%></h3>
            <div class="card-btnsection">
           <% if @status == "owner" %>
               <button class="custom-btn btn text"><span><%=
                link_to "Delete?",
                game_path(@game),
               data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %></span></button>
            <% elsif @status == "member" %>
            <button class="custom-btn btn text"><span><%=
                link_to "Leave game?",
                 player_team_path(@player_team),
               data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to leave the game #{@game.name}?"}
              %></span></button>
              <% elsif @status == "full" %>
                <p>This game is currently full.</p>
              <% elsif @status == "wrong_gender" %>
                <p>Sorry, this game is for <%= @game.gender %>s only.</p>
              <% else %>
                <button class="custom-btn btn text"><span><%=
                  link_to "Join #{@game.teams[1].name}",
                  join_team_path(@game.teams[1]),
                  data: {turbo_method: :post}
                %></span></button>
              <% end %>
            </div>
          </div>
          <div class="row team-row">
            <% @game.teams[1].players.each do |player| %>
              <div class="col-md-6 team-card">
                <div class="person-img">
                  <% if player.photo.present? %>
                    <%= cl_image_tag player.photo.key, crop: :fill %>
                  <% else %>
                    <%num = rand(10..99)%>
                    <img class="rounded-lg w-20 h-20" alt="No alt" src="https://ozgrozer.github.io/100k-faces/0/4/0040<%=num%>.jpg">
                  <% end %>
                  <h4><%=player.name%></h4>
                </div>
               </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <hr>
  <div class="row m-0 mb-3" id="reviews">
    <div class="custom-card">
      <div class="card-header">
        <h3>Reviews</h3>
        <% if @game.reviews.empty? %>
          <small><em>Be the first one to review this list</em></small>
        <% else %>
          <p><b>Average rating: <span><%= ( @game.reviews.inject(0.0) { |sum, review| sum + review.rating } / @game.reviews.count ).round(1) %> </b></span></p>
        <% end %>
      </div>
      <ul class="mt-4">
        <li>
          <% @game.reviews.each do |review| %>
            <% review.rating.to_i.times do %>
              <%= "⭐️" %>
            <% end %>
            <p>"<%= review.comment %>" - <%= review.player.name %></p>
          <% end %>
        </li>
      </ul>
      <% if @status == "owner" %>
      <p><%= "You cannot write the review on your game" %></p>
      <p><%= "You cannot review your own game." %></p>
    <% else %>
      <%= render "new-review"%>
      <% joined_game = PlayerTeam.where(player_id: current_player.id).map { |pt| pt.game.id }.include?(@game.id)%>
      <% already_reviewed = Review.find_by(game_id: @game.id, player_id: current_player.id)%>
      <%= render "new-review" if joined_game && !already_reviewed %>
    <% end %>
    </div>
  </div>
  <hr>
  <div class="row m-0">
    <div class="col-md-12 mb-5">
       <div style='width: 100%; height: 400px;'
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
