<div class="container">
  <div class="d-flex p-2 ROW">
    <div class="col-5">
      <h2><%= @player.name %>'s Profile</h2>
      <div class="profile_img">
        <% if @player.photo.present? %>
          <%= cl_image_tag @player.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag "football_#{%w[green red blue purple orange teal][@player.id % 6]}.png" %>
        <% end %>
      </div>
    </div>
    <div class="col-7">
      <h2>Games you've joined</h2>
      <% if @player_teams.present? %>
        <ul>
            <% if @host_games.size > 0 %>
              <% @host_games.each do |game| %>
                <li>
                  <%= link_to game.name, game_path(game) %>
                  <p>I am the host of this game</p>
                </li>
              <% end %>
            <% end %>
          <% @player_teams.each do |player_team| %>
            <% game = player_team.game %>
            <li>
              <%= link_to game.name, game_path(game) %>
              <%= link_to "Leave a review", "#{game_path(game)}#reviews", class: "button2" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>You haven't joined any games.</p>
        <%= link_to "Find a game to join", games_path, class: "button2" %>
      <% end %>
      <% if @past_games.present? %>
        <h3>Finished games:</h3>
        <ul>
          <% @past_games.each do |game| %>
            <li>
              <%= link_to game.name, game_path(game), class: "button2" %>
              <p>Leave a review</p>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to "Edit my profile", edit_player_registration_path(@player), class: "button2" %>
      <%= link_to "Log out", destroy_player_session_path, class: "button2" %>
    </div>
  </div>
</div>
