<!DOCTYPE html>
<html>
  <head>
    <title>Footsie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
      <div class="nav-container d-flex justify-content-between align-items-center">
        <div class="logo"><i class="fa-solid fa-futbol" style="color: #f8eede;"></i></div>
        <div class="nav">
          <div class="nav-button">
            <%= link_to "BROWSE GAMES", games_path %>
          </div>
          <% if player_signed_in? %>
            <div class="nav-button">
              <%= link_to "CREATE NEW GAME", new_game_path %>
            </div>
            <div class="nav-button">
              <%= link_to "MY PROFILE", player_path(current_player) %>
            </div>
            <div class="nav-button">
             <%= link_to "LOG OUT", destroy_player_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?"} %>
            </div>
          <% else %>
            <div class="nav-button">
              <%= link_to "SIGN IN / SIGN UP", new_player_session_path %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="devise-alert">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <%= yield %>
  </body>
</html>
