<!DOCTYPE html>
<html>
  <head>
    <title>Footsie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="nav-container d-flex justify-content-between align-items-center">
        <div class="logo"></div>
        <div class="nav">
          <div class="nav-button">
            <%= link_to "Browse Games", games_path %>
          </div>
          <% if player_signed_in? %>
            <div class="nav-button">
              <%= link_to "My Profile", player_path(current_player) %>
            </div>
            <div class="nav-button">
             <%= link_to "Log Out", destroy_player_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?"} %>
            </div>
          <% else %>
            <div class="nav-button">
              <%= link_to "Sign In / Sign Up", new_player_session_path %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
