<!DOCTYPE html>
<html>
  <head>
    <title>Footsie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
    <header class="nav-container d-flex justify-content-between align-items-center">
      <div class="container">
      <div class=" d-flex justify-content-between align-items-center">
      <div class="logo">
        <%= link_to root_path do %>
          <i class="fa-solid fa-futbol fa-xl" style="color: #f8eede"></i>
        <% end %>
      </div>
      <div class="nav">
        <div class="nav-button">
          <%= link_to "BROWSE GAMES", games_path %>
        </div>
        <% if player_signed_in? %>
          <div class="nav-button">
            <%= link_to "FIND A GAME NEAR ME", "#{search_games_path}?query=#{current_player.address}" %>
          </div>
          <div class="nav-button">
            <%= link_to "HOST A GAME", new_game_path %>
          </div>
          <div class="nav-button">
            <% if current_player.photo.present? %>
              <%= link_to player_path(current_player) do %>
                <%= cl_image_tag current_player.photo.key, crop: :fill %>
              <% end %>
            <% else %>
              <%= link_to "MY PROFILE", player_path(current_player) %>
            <% end %>
          </div>

          </div>
        <% else %>
          <div class="nav-button">
            <%= link_to "SIGN IN / SIGN UP", new_player_session_path %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    </header>

    <div class="spacer">
    </div>
    <div class="devise-alert">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
